<!DOCTYPE html>
<html>
    <header> 
        <meta charset="utf-8">
        <title>Help Page</title> 
    </header>

    <body>
        {{> header}}
        <p> We will be back soon</p>


        {{> footer}}
    </body>
</html>